# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
docx2txt
h5py
joblib
json5
Keras-Preprocessing
Markdown
MarkupSafe
marshmallow
matplotlib
mpmath
numpy
pandas
pdfminer.six
pickleshare
pillow
pipreqs
plotly
PyPDF2
PyYAML
scikit-learn
scipy
seaborn
statsmodels
streamlit
string
textract
xgboost
yellowbrick
